
@media (max-width: 900px) {
    .navegacion {
        display: none;
        }
    .imagenesindex {
            height: 450px;
        }
}

@media (max-width: 440px) {

    header {
        height: 100px;
    }

    .encabezado-img {
        width: 100px;
        height: 100px;
    }

    
    .contenedor-cuadrocontacto {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .copy {
        display: none;
    }
    .mailFooter {
        display: none;
    }

    .rrssFooter {
        display: flex;
        justify-content: space-around;
    }
    .contenedorMapa {
        display: flex;
        flex-wrap: wrap;
    }
    .ubicaciones {
        display: none;
    }
    .descripcionMapa{
        margin-top: 30px;
        font-size: 10px;
    }
    .Mapa {
        margin-top: 20px;
    }

    .imgMapa {
        width: 350px;
        height: 300px;
    }

    .cardEspecialidades {
        width: 50vw;
    }

    .contenedorNosotros {
        display: flex;
        flex-wrap: wrap;
    }

    .descripcion {
        margin-top: 40px;
        margin-left: 10px;
        width: 100%;
        font-size: 90%
    }
    .videoNuestro {
        margin-top: 70px;
    }

    .videoNosotros {
        width: 350px;
        height: 250px;
    }

    .contenedor-img {
        margin-top: 20px;
    }
    .contenedor-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto  auto 1fr;
        grid-template-areas:
        "header"
        "main"
        "footer"
        ;
    }

    .imagenesindex {
        height: 350px;
    }
}